.todo {
  &-create {
    padding: 20px 15px;

    &__input {
      padding: 5px 10px;
    }

    &__submit {
      margin-left: 10px;
      background-color: transparent;
      border: 1px solid rgb(0, 151, 0);
      padding: 5px 10px;
      cursor: pointer;

      &:hover {
        background-color: rgb(0, 151, 0);
        color: #fff;
      }
    }
  }

  &-list {
    border-top: 1px solid #999;
    padding: 20px 15px;
  }
}