.todo-list__item {
  border-left: 1px solid #555;
  border-bottom: 1px solid #555;
  padding: 10px;

  &#{&}_checked {
    opacity: .5;
  }
}

.item {
  &-input {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  &-description {
    margin-bottom: 15px;
  }

  &-button {
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #00f;
    background-color: transparent;
    padding: 5px 10px;

    &:hover {
      color: #fff;
      background-color: #00f;
    }

    &_delete {
      border-color: #f00;

      &:hover {
        background-color: #f00;
      }
    }

    &_confirm {
      border-color: rgb(0, 151, 0);

      &:hover {
        background-color: rgb(0, 151, 0);
      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}